<div class="imageswithanimation">

    <div class="carousal">
        <div class="item"><img src="assets/img3.jpg" alt=""></div>
        <div class="item"><img src="../../../assets/img2.jpg" alt=""></div>
        <div class="item"><img src="../../../assets/img.jpg" alt=""></div>
        <div class="item"><img src="assets/banner.jpg" alt=""></div>
        <div class="item"><img src="assets/img3.jpg" alt=""></div>
        <div class="item"><img src="../../../assets/img2.jpg" alt=""></div>
        <div class="item"><img src="../../../assets/img.jpg" alt=""></div>
        <div class="item"><img src="assets/banner.jpg" alt=""></div>

    </div>
    
   


  </div>