
<app-head class="head"></app-head>
<div class="image">
  <h2 class="package-description">{{packageDetails.packageName}}</h2>
   <p class="packagedescription">
    {{packageDetails.description}}
  </p> 

</div>


  <div class="container">
   
    <div class="itinerary">
      <h1 class="package-title"> </h1>

        <h2>Travel Itinerary</h2>
        <ul *ngFor="let plan of packageDetails.dailyPlan">
            <li>
                <h3>Day : {{ plan.day }} <span>{{ plan.title }}</span></h3>
                <h3></h3>
                <ul *ngFor="let destination of plan.destinations">
                    <li>{{destination}}</li>
                </ul>
            </li>
           
        </ul>
       
        <section class="book-now">
          <h2>Ready for Your Adventure?</h2>
          <p>Book your dream trip today and let the journey begin!</p>
          <button (click)="gotobookingpage(packageDetails.packageId)" class="book-button">Book Now</button>
        </section>
    </div>
  
    <div class="highlights">
        <h2> Similar Packages</h2>

        <div class="highlight-card">
            <img src="../../../assets/footerimg.jpg" alt="Eiffel Tower">
            <h4>Eiffel Tower</h4>
            <p>The iconic symbol of Paris offering panoramic views of the city.</p>
        </div>

        <div class="highlight-card">
            <img src="../../../assets/login3.jpg" alt="Louvre Museum">
            <h4>Louvre Museum</h4>
            <p>Explore art and history in the world's largest museum.</p>
        </div>
    </div>
   
 
    
</div>




