<!-- <div>
<video autoplay muted loop src="../assets/viiii.mp4">

</video>
</div> -->


<div class="container-fluid main">
  
    <nav class="navbar navbar-expand-lg bg-body-transparent">
        <div class="container nav">
          <a class="navbar-brand logicon" href="#"><img class="imm" src="../assets/logo2.jpg" alt=""></a>
          <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
           

          </button> 
         
      
          <div class="collapse navbar-collapse list" id="navbarNavAltMarkup">
            <div class="navbar-nav lists ">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">About Us</a>
              <a class="nav-link" href="#">Contact </a>
              <a class="nav-link" href="#">Destinations </a>
              <a class="nav-link login" href="#"> <i class="fa-solid fa-user icon" style="color: #151413;"></i>  My Account</a>

            </div>

          </div>

       
        </div>

      </nav>

      <div class="div">
<!--         <p>
            “Investment in travel is an investment in yourself.” – Matthew Karsten        </p> -->


      </div>

      

  
    
    
  </div>
 
