

    <div class="container-fluid">
       
        
        <div class="img"></div>
        <div class="form">
            <form action="">
                <div class="logo">
                </div>
                
                <p>Sign in to start your session</p>

                    <input matInput type="text" placeholder="  UserName">


                    <input type="text" placeholder="  Password">
                
            

                <button>Login</button>

                
        
            </form>
        </div>
    </div>

