<nav class="navbar navbar-expand-lg bg-body-transparent">
    <div class="container nav">
      <a class="navbar-brand logicon" href="#"><img class="landlogoimg" src="../../../assets/travelplannerlogo.png" alt=""></a>
          <button class="navbar-toggler nav-button " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
       

      </button> 
     
  
      <div class="collapse  navbar-collapse justify-content-end " id="navbarNavAltMarkup" >

        <div class="navbar-nav  " id="list">
          <a class="nav-link" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">About Us</a>
          <a class="nav-link" href="#">Contact </a>
          <a class="nav-link" href="#">Destinations </a>
            
          <a class="nav-link login" href="#"><Button (click)="logout()">LogOut</Button></a>

        </div>

      </div>

   
    </div>

  </nav>