<div class="booking-container">
  <div class="booking-form">
    <h2>Book Your Trip</h2>
    <p>Fill in your details to book your travel package</p>
<form  [formGroup]="bookingForm" (ngSubmit)="onSubmit()" action="">
    <div class="form-section">

      <h3>Booking Details</h3>
      <label>Name</label>
      <input type="text" formControlName="name" placeholder="Your Name" />
      <div *ngIf="bookingForm.get('name')?.touched && bookingForm.get('name')?.invalid">
        <small>Name is required.</small>
      </div>

        <label>Email</label>
    <input type="email" formControlName="email" placeholder="Your Email" />
    <div *ngIf="bookingForm.get('email')?.touched && bookingForm.get('email')?.invalid">
      <small *ngIf="bookingForm.get('email')?.errors?.['required']">Email is required.</small>
      <small *ngIf="bookingForm.get('email')?.errors?.['email']">Invalid email format.</small>
    </div>

    <label>Phone Number</label>
    <input type="text" formControlName="phoneNumber" placeholder="# of People" />
    <div *ngIf="bookingForm.get('phoneNumber')?.touched && bookingForm.get('phoneNumber')?.invalid">
      <small>Valid phone number is required.</small>
    </div>
  </div>



    <div class="form-section">
      <h3>Payment Details</h3>
      <label>Card Number</label>
      <input type="text" formControlName="cardNumber" placeholder="Card Number" />
      <div *ngIf="bookingForm.get('cardNumber')?.touched && bookingForm.get('cardNumber')?.invalid">
        <small>Card number must be 16 digits.</small>
      </div>

      <div class="payment-row">
        <div>
         <label>MM / YY</label>
        <input type="text" formControlName="expiryDate" placeholder="MM / YY" />
        <div *ngIf="bookingForm.get('expiryDate')?.touched && bookingForm.get('expiryDate')?.invalid">
          <small>Use MM/YY format.</small>
        </div>

        </div>
        <div>
          <label>CVC</label>
        <input type="text" formControlName="cvc" placeholder="CVC" />
        <div *ngIf="bookingForm.get('cvc')?.touched && bookingForm.get('cvc')?.invalid">
          <small>Enter a 3 or 4 digit CVC.</small>
        </div>

        </div>
      </div>

     <label>Payment Details</label>
    <input type="text" formControlName="paymentDetails" placeholder="Enter Payment Details" />
    <div *ngIf="bookingForm.get('paymentDetails')?.touched && bookingForm.get('paymentDetails')?.invalid">
      <small>Payment details required.</small>
    </div>

    </div>


    <button class="book-now-btn">Book Now</button>
  </form>
  </div>
  

  <div class="image-section">
    <img src="../../../assets/banner.jpg" alt="Santorini" class="side-image" />
<!--     <img src="../../../assets/login3.jpg" alt="Beach" class="side-image" />
 -->  </div>
</div>
